<div class="mat-elevation-z8">
  <form [formGroup]="itemForm" autocomplete="off" class="table-form">
    <ng-container formArrayName="itemRows">
      <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef>Brand</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="select-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <ng-container *ngIf="!itemForm.get('itemRows')?.value[i].isEditable">
                <mat-select formControlName="brand">
                  <mat-option *ngFor="let option of types" [value]="option" class="option">{{option | titlecase}}</mat-option>
                </mat-select>
              </ng-container>
              <ng-container *ngIf="itemForm.get('itemRows')?.value[i].isEditable">
                <input
                  matInput
                  type="text"
                  formControlName="brand"
                  [readonly]="true"
                >
              </ng-container>
            </mat-form-field>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef>Model</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="td-form-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <input
                matInput
                type="text"
                formControlName="model"
                [readonly]="itemForm.get('itemRows')?.value[i].isEditable"
              >
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="td-form-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <input
                matInput
                type="number"
                inputmode="numeric"
                formControlName="price"
                [readonly]="itemForm.get('itemRows')?.value[i].isEditable"
              >
              <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Count Column -->
        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef> Count</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="td-form-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <input
                matInput
                type="number"
                inputmode="numeric"
                formControlName="count"
                [readonly]="itemForm.get('itemRows')?.value[i].isEditable"
              >
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Arriving Column -->
        <ng-container matColumnDef="arriving">
          <th mat-header-cell *matHeaderCellDef> Arriving</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="td-form-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <input
                matInput
                type="number"
                inputmode="numeric"
                formControlName="arriving"
                [readonly]="itemForm.get('itemRows')?.value[i].isEditable"
              >
            </mat-form-field>
          </td>
        </ng-container>

        <!-- Back Order Column -->
        <ng-container matColumnDef="backOrder">
          <th mat-header-cell *matHeaderCellDef> Back Order</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <mat-form-field
              class="td-form-field"
              [ngClass]="{'td-edit-field': itemForm.get('itemRows')?.value[i].isEditable}"
            >
              <input matInput
                     type="number"
                     inputmode="numeric"
                     formControlName="backOrder"
                     [readonly]="itemForm.get('itemRows')?.value[i].isEditable"
              >
            </mat-form-field>
          </td>
        </ng-container>

        <!-- START Action Element -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
            <!-- START Save Button -->
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                    matTooltip="Save Changes" (click)="saveForm(itemForm,i)"
                    *ngIf="!itemForm.get('itemRows')?.value[i].isEditable" color="primary"
            >
              <fa-icon icon="check-circle"></fa-icon>
            </button>
            <!-- END Save Button -->

            <!-- START Cancel Button -->
            <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                    matTooltip="Cancel Changes" color="warn"
                    (click)="cancelForm(itemForm,i)"
                    *ngIf="!itemForm.get('itemRows')?.value[i].isEditable"
            >
              <fa-icon icon="cancel"></fa-icon>
            </button>
            <!-- END Cancel Button -->

            <!-- START Edit Button -->
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                    *ngIf="itemForm.get('itemRows')?.value[i].isEditable"
                    matTooltip="Edit" color="primary" (click)="editForm(itemForm,i)"
            >
              <fa-icon icon="edit"></fa-icon>
            </button>
            <!-- END Edit Button -->

            <!-- START Delete Button -->
            <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                    *ngIf="itemForm.get('itemRows')?.value[i].isEditable"
                    atTooltip="Delete" color="warn">
              <fa-icon icon="trash"></fa-icon>
            </button>
            <!-- END Delete Button -->

          </td>
        </ng-container>
        <!-- START Action Element -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div class="spinner-table">
        <app-spinner></app-spinner>
      </div>
    </ng-container>
  </form>
</div>
