@import 'lib.scss';

$local-duration: .8s;
$local-hide-duration: .2s;

.loading-indicator {
  position: fixed;
  z-index: 9999;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  .loading-indicator-inner {
    height: inherit;
    width: 0;
    transition: width 0s 0s, opacity 0s 0s;
    background-color: $blue;
  }
}


.loading-indicator-start {
  .loading-indicator-inner {
    transition: width $local-duration 0s, opacity 0s 0s;
    width: 20%;
  }
}

.loading-indicator-complete {
  .loading-indicator-inner {
    width: 100%;
    transition: width $local-duration 0s, opacity $local-hide-duration ($local-duration + .1s);
    opacity: 0;
  }
}
