<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{(column !== 'backOrder' ? column : 'Back Order') | titlecase}} </th>
    <td mat-cell *matCellDef="let element"> {{
      column == 'price'
        ? (element[column] |currency)
        : (column == 'brand' ? (element[column] | titlecase) : element[column])
      }}
    </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <fa-icon *ngIf="expandedElement !== element" icon="caret-down"></fa-icon>
        <fa-icon *ngIf="expandedElement === element" icon="caret-up"></fa-icon>
      </button>
      <button mat-icon-button aria-label="edit icon" (click)="goToEdit(element); $event.stopPropagation()">
        <fa-icon icon="edit" class="edit-icon"></fa-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="diagram">
          <div class="element-img">
            <img src="{{element.img}}" alt=""/>
          </div>
        </div>
        <div class="element-description">
          {{element.description}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
