<div class="container">
  <div class="not-found padding">
    <div class="not-found-404">
      Oops! Error 404
    </div>

    <div class="not-found-content">
      <h1 class="not-found-title">Page Not Found</h1>

      <p class="not-found-text">
        <span>We can't seem to find the page you're looking
          for.</span><br>
        <span>Go to the home page to start over.</span>
      </p>
      <a class="btn btn-primary btn-sm" href="index.html">Go To Home Page</a>
    </div>
  </div>
</div>
